.loading {
    display: none;
}

.tile {
    float: left;
}

.game {
    .tile__details {
        display: none;
    }
}

.game--show-answers {
    .tile__details {
        display: block;
    }
}

.game--loading-user-location {
    .tiles {
        display: none;
    }

    .loading {
        display: block;
    }
}