@easeOutCubic: cubic-bezier( 0.215, 0.61, 0.355, 1 );

html, body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    text-align: center;
    background: rgb( 25, 25, 25 );
    color: rgb( 245, 245, 250 );
}

h1 {
    text-align: center;
    font-weight: normal;
}

.loading {
    display: none;
    padding-top: 250px;
    text-align: center;
}

.game {
    .tile__details {
        display: none;
    }
}

.game--show-answers {
    .tile__details {
        display: flex;
    }
}

.game--loading-user-location {
    .selector {
        display: none;
    }

    .loading {
        display: block;
    }
}

.selector {
    display: block;
}

.tiles {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

@import './styles/components/GameTile.less';